.header {
    text-align: center;
}

/* .year-container {
    width: 50px;
    padding-left: 5rem;
}

.content-container {
    width: 300px; */
/* } */

.content-container {
    display: grid;
    width: 500px;
    grid-template-columns: 100px 0px 120px;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 10rem;
}

.content-container :first-child {
    align-self: center;
}